.card {
  position: relative;
  margin: 20px;
  padding: 0;
  height: 400px;
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  box-shadow: 7px 11px 10px #232323;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card__content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* TODO: 
  Если начали указывать цвета в одном формате, придерживайтесь одного стиля.
  */
  color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card__content h3 {
  font-size: 18px;
}
.more-button,
.like-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more-button:hover,
.like-button:hover {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  box-shadow: 0 5px 20px rgba(159, 0, 19, 0.5);
  transform: scale(1.05);
}

.more-button {
  margin-right: 10px;
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background-color: #007bff;
  /* TODO: 
  Если начали указывать цвета в одном формате, придерживайтесь одного стиля.
  */
  color: white;
  text-decoration: none;
}

.like-button {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background-color: #28a745;
  /* TODO: 
  Если начали указывать цвета в одном формате, придерживайтесь одного стиля.
  */
  color: white;
}

.like-button.liked {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background-color: #dc3545;
}
