@import '~react-image-gallery/styles/css/image-gallery.css';

.product__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background: linear-gradient(45deg, #eecfba, #c5dde8);
}

.product_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 60%;
  overflow: hidden;
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background-color: #f9f9f9;
}

.product__info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product__title {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.product__description {
  margin: 10px 0;
  font-size: 16px;
  /* TODO: 
  Если начали указывать цвета в одном формате, придерживайтесь одного стиля.
  */
  color: black;
}

.product__prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  margin: 10px 0;
}

.prod_price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.prod_price span {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  color: #dc3545;
}

.prod_discount {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.prod_discount span {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  color: #28a745;
}

.product__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
}
.product__rating span {
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  color: #ffb400;
}

.product__btnBack {
  margin-top: auto;
  align-self: flex-end;
  width: 25%;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
  border-radius: 25px;
  /* TODO: 
  Если начали указывать цвета в одном формате, придерживайтесь одного стиля.
  */
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  box-shadow: 3px 3px 8px #b9abab;
  transition: all 0.5s ease-in-out;
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background: linear-gradient(180deg, #f05205, #ff9600, #ffd000);
}

.product__btnBack:hover {
  transform: scale(1.07);
  /* TODO: 
  Цвета желательно выносить в константы (примеры чистого кода) 
  */
  background: #e72424;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  object-fit: cover;
  max-height: 350px;
  margin-bottom: 30px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  max-height: 92px;
  object-fit: contain;
}
